{% extends 'master.html' %}

{% block timeline %}
    {% if lastest_article_list_2010 %}
        <div id="2010">
        {% for article in lastest_article_list_2010 %}
            <div class="timeline-item">
                <div class="year">
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a> <span class="marker"><span class="dot"></span></span>
                </div>
                <div class="info"><a href="{% url 'detail' article.id %}"><img class="timeline-image" src="{{ article.image }}" alt="{{ article.title }}"/></a></div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if lastest_article_list_2011 %}
        <div id="2011">
        {% for article in lastest_article_list_2011 %}
            <div class="timeline-item">
                <div class="year">
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a> <span class="marker"><span class="dot"></span></span>
                </div>
                <div class="info"><a href="{% url 'detail' article.id %}"><img class="timeline-image" src="{{ article.image }}" alt="{{ article.title }}"/></a></div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if lastest_article_list_2012 %}
        <div id="2012">
        {% for article in lastest_article_list_2012 %}
            <div class="timeline-item">
                <div class="year">
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a> <span class="marker"><span class="dot"></span></span>
                </div>
                <div class="info"><a href="{% url 'detail' article.id %}"><img class="timeline-image" src="{{ article.image }}" alt="{{ article.title }}"/></a></div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if lastest_article_list_2013 %}
        <div id="2013">
        {% for article in lastest_article_list_2013 %}
            <div class="timeline-item">
                <div class="year">
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a> <span class="marker"><span class="dot"></span></span>
                </div>
                <div class="info"><a href="{% url 'detail' article.id %}"><img class="timeline-image" src="{{ article.image }}" alt="{{ article.title }}"/></a></div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if lastest_article_list_2014 %}
        <div id="2014">
        {% for article in lastest_article_list_2014 %}
            <div class="timeline-item">
                <div class="year">
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a> <span class="marker"><span class="dot"></span></span>
                </div>
                <div class="info"><a href="{% url 'detail' article.id %}"><img class="timeline-image" src="{{ article.image }}" alt="{{ article.title }}"/></a></div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if lastest_article_list_2015 %}
        <div id="2015">
        {% for article in lastest_article_list_2015 %}
            <div class="timeline-item">
                <div class="year">
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a> <span class="marker"><span class="dot"></span></span>
                </div>
                <div class="info"><a href="{% url 'detail' article.id %}"><img class="timeline-image" src="{{ article.image }}" alt="{{ article.title }}"/></a></div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}